*~
*.d
*.o
.editorconfig

firmware/nxplib/lpc_chip_11uxx_lib/libs/liblpc_chip_11uxx_lib.a
firmware/nxplib/nxp_lpcxpresso_11u14_board_lib/libs/
firmware/nano/nxplib/lpc_chip_11uxx_lib/libs/liblpc_chip_11uxx_lib.a
firmware/nano/nxplib/nxp_lpcxpresso_11u14_board_lib/libs/
/firmware/*/bin/
*.axf
*.bin
*.hex
*.map
*.objdump
*.out

app/compiler.jar
app/*.pem
app/*.crx
app/tmp/
