.row{
	margin:0px;
}
.activity{
	height:200px;
}
.nano-nav{
	height:200px;
}
.nano-nav h3{
	color:#fff;
	height:30px;
	line-height:30px;
}
.btn-custom{
	min-width:250px;
}
.btn-row{
	height:70px;
	line-height:70px;
}
