html, body, div, p, ol, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td {
        margin:0;
        padding:0
}
img {
        border:0 none; position:relative;
}
body {
        color:#666;
        font-size:13px;
        background-color:#f2f2f2
}
body, input, blockquote, textarea {
        font-family:'微软雅黑','Oswald', 'Helvetica Neue', 'Microsoft YaHei', Helvetica, Arial, Verdana, sans-serif;
}

.login-panel{
	width:100%;
	height:65px;
	background:url(../images/float_bottom_bg.png) 0 0 repeat-x;
	overflow:hidden;
	position:fixed;
	bottom:0;
}
.login-panel .panel-center{
	margin:10px auto;
	background:url(../images/cc.png) 250px 0 no-repeat;
	height:45px;
	overflow:hidden;
}
.login-panel .panel-center p{
	float:left;
	line-height:42px;
}
.login-panel .panel-center .tips{
	font-size:14px;
	font-weight:bold;
	color:#4ba6e5;
	width:337px;
	margin-left:0;
	text-align:left;
	text-indent:110px;
	line-height:40px;
}
html, body {
    overflow-y: visible;
}
.row{
	margin:0px;
}
.activity{
	height:200px;
}
.panel-body{
	padding:0px;
}
body{
	background:#f9f9f9;
}
.top-div{
	height:40px;
	line-height:40px;
	background:#f1f1f1;
	border-bottom:1px solid #d4d4d4;
}
.top-div ul li{
	margin-left:15px;
	list-style-type:none;
	float:left;
}
.top-div ul li p{
	font-size:14px;
	font-weight:bold;
	color:#4ba6e5;
}
.top-div ul li p span{
	color:#666;
	font-size:12px;
}
.center-img{
	height:600px;
	line-height:600px;
	text-align:center;
}
.guide .logo{
	height:250px;
	line-height:200px; 
	text-align:center;}
.guide .detect{
	background:#f4f4f4;	
	height:275px;
}
.guide .detect p{
	text-align:center;
	height:80px;
	line-height:80px;
}
.detect h4,.detect h5{
	text-align:center;
}
.detect h4{
	color:#3a3a3a;
}
.detect h5{
	color:#888888;
}
.guide>p{
	margin-top:125px;
	color:#888888;
	text-align:center;
}
.table>tbody>tr>td{
	vertical-align:baseline;
}
.pool-status-active{
	color:green;
}
.pool-status-failed{
	color:red;
}

body .modal-dialog{
	width: 80%;
}
