#
# RPC login details
#
host=128.199.157.81
port=8332

rpcuser=mikeqin
rpcpass=1234

#
# mining details
#

threads=1

# periodic rate for requesting new work, if solution not found
scantime=60


#
# misc.
#

# not really used right now
logdir=/tmp/pyminer

# set to 1, to enable hashmeter output
hashmeter=1

# verbose
verbose=1
